.block-black__cards{
    width: 1181px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:  "block_zagl block_zagl block_zagl"
                          "card-1 card-2 card-3"
                          "card-4 card-5 card-6";
}
.block-black__cards__block-zagl{
    width: 1181px;
    grid-area: block_zagl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block-black__cards__block-zagl__h1{
    font-size: 48px;
    color: white;
    margin-top: 74px;
    margin-bottom: 26px;
    letter-spacing: 2.7px;
    margin-left: 0px;
}
.block-black__cards__block-zagl__p{
    color: white;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 53px;
    margin-right: 0px;
    margin-left: 10px;
    word-spacing: 3px;
}
.block-black__cards__card{
    max-width: 313px;
    margin-top: 0px;
    margin-bottom: 53px;
    background-color: #2D2E33;
    padding: 21px 19px 27px 19px;
    border-radius: 12px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .block-black__cards__card:nth-child(2){
        grid-area: card-1;
        margin-left: 47px;
    }
    .block-black__cards__card:nth-child(3){
        grid-area: card-2;
        margin-left: 17px;
        padding-left: 21px;
        padding-right: 20px;
    }
    .block-black__cards__card:nth-child(4){
        grid-area: card-3;
        max-width: 351px;
        margin-left: 17px;
        margin-right: 47px;
        padding-left: 12px;
        padding-right: 11px;
        padding-top: 25px;
    }
    .block-black__cards__card:nth-child(5){
        grid-area: card-4;
        margin-left: 47px;
        padding-top: 28px;
    }
    .block-black__cards__card:nth-child(6){
        grid-area: card-5;
        margin-left: 17px;
    }
    .block-black__cards__card:nth-child(7){
        grid-area: card-6;
        padding-top: 23px;
        margin-left: 17px;
        margin-right: 47px;
    }
.card-foto{
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-foto:nth-child(3){
    margin-left: 10px;
}
.card-foto:nth-child(6){
    margin-left: 35px;
}
.card-h1{
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 19px;
    word-spacing: 0.2px;
    letter-spacing: 0.2px;
    margin-bottom: 0px;
}
.card-p{
    font-size: 14px;
    color: #999999;
    margin-top: 18px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
    line-height: 17px;
}
.card-p:nth-child(2){
    max-width: 310px;
    margin-top: 2px;
}
.card-p:nth-child(3){
    letter-spacing: 0.3px;
    max-width: 328px;
}