.block-white__info{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "block-inf-h block-foto"
                         "block-inf-text block-foto"
                         "block-inf-text block-foto"
                         "block-inf-button block-foto";

}
.block-inf-h{
grid-area: block-inf-h;
margin-left: 49px;
margin-bottom: 0px;
}
.block-inf-h__h1{
    font-size: 48px;
    letter-spacing: 0.5px;
    line-height: 60px;
    margin: 0px;
    padding: 0;
    margin-right: 64px;
}
.block-inf-text{
    grid-area: block-inf-text;
    margin: 0;
    padding: 0px;
}
.block-inf-text__text{
    font-size: 19px;
    font-weight: 400;
    color: #696969;
    padding: 0px;
    margin: 13px 0px 0px 49px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 136%;
}
.block-foto{
    grid-area: block-foto;
    margin: 0px 43px 65px 1px;  
}
.foto{
    margin: 0px;
}
.block-white__info__button{
    grid-area: block-inf-button;
    margin: 35px 0px 72px 49px;
    display: flex;
    flex-direction: row;
}
.search-orange-button {
    background-color: #FF6325;
    color: white;
    border: none;
    border-radius: 23px;
    padding: 14px 28px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-bottom: 0px;
    transition: all 0.3s ease;
    }
    .search-orange-button:nth-child(3){
        padding: 8px 30px 5px 28px;
    }
 .search-orange-button:hover {
    transform: scale(1.05);
    background-color: #c03b03;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
.search-white-button{
    background-color: rgb(224, 224, 224, 0.6);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 23px;
    padding: 14px 19px 16px 17px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    transition: all 0.3s ease;
    margin-left: 4px;
    }
    .search-white-button:nth-child(2){
        margin-left: 7px;
    }
 .search-white-button:hover {
    transform: scale(1.05);
    background-color:rgba(247, 247, 247, 0.832);
    border: 1px solid rgb(29, 29, 29);
    margin-left: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
