
.block-white__info-2{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "block-foto-2 block-inf-h-2"
                         "block-foto-2 block-inf-text-2"
                         "block-foto-2 block-inf-text-2"
                         "block-foto-2 block-inf-button-2";
    padding-bottom: 66px;
}
.block-inf-h-2{
grid-area: block-inf-h-2;
margin-bottom: 0px;
margin-left: 14px;
}
.block-inf-h-2__h1-2{
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.3px;
    margin: 0px;
    padding: 0;
    margin-left: 0px;
    justify-content: start;
}
.block-inf-text-2{
    grid-area: block-inf-text-2;
    margin: 0;
    padding: 0px;
}
.block-inf-text-2__text-2{
    font-size: 19px;
    font-weight: 400;
    color: #696969;
    padding: 0px;
    margin: 18px 55px 26px 14px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    line-height: 136%;
}
.block-foto-2{
    grid-area: block-foto-2;
    margin-left: 48px;
    margin-top: 0px;
}
.foto-2{
margin: 0px;
}
.block-white__info__button-2{
    grid-area: block-inf-button-2;
    display: flex;
    flex-direction: row;
    margin-left: 14px;
}
