
 .block-black__text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0  auto;
    font-size: 32px;
    padding: 0;
    margin-bottom: 0;
}
.block-black__text-h1{
    margin: 37px 0;
    font-size: 58px;
    letter-spacing: 3.1px;
    word-spacing: 5.5px;
    font-weight: 700;
}
.block-black__text-1{
    margin: 0;
    padding: 0px;
    max-width: 729px;
    letter-spacing: 1px;
    font-size: 19px;
    font-weight: lighter;
    text-align: center;
    color: #A3A3A3;
}

.block-black__appartment {
    position:absolute;
    background-color: white;
    margin-top: 56px;
    margin-left: 232px;
    width: 718px;
    border-radius: 13px;
    border: none;
    padding: 31px 20px 28px 31px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }
        
.block-black__apartment__text {
     display: flex;
    flex-direction: row;
    align-items: center;
    }
        
.appartment {
    color: #FF6325;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding-bottom: 20px;
    }
        
.rent {
    color: #838383;
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    margin-left: 17px;
    padding-bottom: 20px ;
    }
        
.block-black__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
        
.block-black__info-1 {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-right: 40px;
    }
    .block-black__info-1:nth-of-type(2){
    padding-left: 14px;
    }
    .block-black__info-1:nth-of-type(3){
    padding-left: 14px;
    }
    .block-black__info-1:nth-of-type(4){
    padding-left: 14px;
    }   
.location, .type, .design, .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: bold;
    }
        
.strelka {
    margin-left: 7px;
    }
        
.block-black__info__minshrift {
    color: #838383;
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
    }
        
.search-button {
    background-color: #FF6325;
    color: white;
    border: none;
    border-radius: 23px;
    padding: 15px 28px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    transition: all 0.3s ease;
    }
 .search-button:hover {
    transform: scale(1.05);
    background-color: #c03b03;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
.block-black__background-foto{
    margin-left: 49px;
    margin-top: 139px;
    width: 100%;
}
.block-black__logotips {
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 74px;
    padding: 0px 0px 83px;
}
.logo-medium {
    margin-left: 94px; 
   
}
.logo-right {
    margin-left: 94px; 
    margin-right: 84px;
    margin-top: 0;
}
.block__logotips > * + * {
    margin-left: 51px;

}
.header__menu__burger{
    display: none;
}
